# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# PyCharm / IDEs
.idea/
.vscode/

# Bazel
/bazel-*

# OS Generated
.DS_Store
Thumbs.db

# Project generated
resume_text.txt
Resume.pdf